@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.blue-theme {
  background-color: #69A9FF;
}

.gold-theme {
  background-color: #FCC850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  background-color: #FCFCFC;
  padding: 12px 32px;
  border-radius: 26px;
  border: 0;
  outline: solid 4px #FFCBD8;
  cursor: pointer;
}

.pink-button {
  color: #FCFCFC;
  background: #FF2F64;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: solid 4px #FCFCFC;
}

.button:focus {
  outline: solid 2px #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
}

.button:active {
  outline: solid 2px #2D3440;
  background-color: #FCFCFC;
}

.button:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.pink-button:hover {
  color: #2D3440;
  outline: solid 4px #FF2F64;
  background-color: rgba(252, 252, 252, 0.3);
}

.pink-button:focus {
  outline: solid 2px #2D3440;
  background-color: #FF2F64;
}

.pink-button:active {
  outline: solid 2px #2D3440;
  background-color: #FEAFC3;
}

.pink-button:disabled {
  background-color: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
}

/*Pages*/
.page-header {
  line-height: 20px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 51%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  text-decoration: none;
}

.navigation-item:first-child .navigation-link {
  padding: 0;
}

.navigation-logo {
  padding-right: 16px;
}

.navigation-item {
  position: relative;
  box-sizing: border-box;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

.navigation-link-catalog {
  padding-right: 38px;
}

.navigation-link-catalog .navigation-icon {
  left: auto;
  right: 15px;
  margin: auto 0;
}

.user-navigation {
  min-width: 16px;
  min-height: 16px;
  font-size: 14px;
}

.user-navigation .navigation-item:not(:first-child) {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.user-navigation .navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-link-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navigation-link-login,
.navigation-link-basket {
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 38px;
}

.navigation-link-login .navigation-icon,
.navigation-link-basket .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-link-search {
  padding: 16px;
}

.navigation-item:hover:not(:first-child) {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-item:focus:not(:first-child) {
  background-color: rgba(252, 252, 252, 0.5);
  outline: solid #2D3440 2px;
  border-radius: 30px;
}

.navigation-item:active:not(:first-child) {
  background-color: #FCFCFC;
  border-radius: 30px;
}

/*PopUp*/
.button-active {
  background-color: #FF4A78;
  border-radius: 30px;
  color: #FCFCFC;
}

.button-active svg {
  fill: #FCFCFC;
}

.popup {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  min-width: 135px;
  min-height: 96px;
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 48px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

.popup-open {
  display: block;
}

.popup-content {
  height: 100%;
}

.popup-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

/*PopUp Basket*/
.popup-basket {
  width: 441px;
}

.popup-basket-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.basket-item {
  display: grid;
  grid-template-columns: 46px 1fr 100px 16px;
  gap: 16px;
  margin-bottom: 23px;
}

.basket-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  margin: 0;
  margin-bottom: 5px;
}

.basket-item-cost {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  margin: 0;
}

.basket-item-price {
  font-weight: 700;
  font-size: 18px;
  align-self: center;
  margin: 0;
  margin-left: 10px;
}

.basket-item-image {
  display: block;
  width: 46px;
  height: 46px;
}

.basket-item-button {
  background-image: url("../images/icons/delete.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 10px;
  border: none;
  outline: none;
  align-self: center;
}

.basket-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid #E7E7E7;
}

.basket-order-price {
  font-weight: 700;
  font-size: 18px;
}

.popup-basket-empty {
  padding: 48px 0;
  box-sizing: border-box;
  width: 288px;
}

.empty-description {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto;
}

/*PopUp Search*/
.popup-search {
  padding: 24px 16px;
  width: 356px;
}

.search-form {
  display: flex;
}

/*PopUp Enter*/
.popup-enter {
  width: 420px;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.enter-wrap {
  display: flex;
  align-items: center;
}

.enter-links {
  list-style-type: none;
  margin: 0;
  margin-left: 11px;
  margin-top: 9px;
  padding: 0;
}

.enter-item {
  display: block;
}

.enter-link {
  color: #2D3440;
  text-decoration: none;
}

/*PopUp Catalog*/
.popup-catalog {
  min-width: 135px;
  box-sizing: border-box;
  padding: 8px 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.catalog-link {
  text-decoration: none;
  font-size: 14px;
  color: #2D3440;
}

.catalog-item {
  padding: 5px 8px 5px 16px;
}

.catalog-item:first-child {
  padding-top: 7px;
  padding-bottom: 11px;
  margin-bottom: 6px;
  font-weight: 700;

}

.catalog-item:first-child::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #B9B9B9;
  width: 103px;
  top: 40px;
  left: 16px;
}

.catalog-item:hover {
  background-color: #FFCBD8;
}

.catalog-item-current {
  background-color: #FF4A78;
}

.catalog-item-current .catalog-link {
  color: #FCFCFC;
}

.catalog-item:hover {
  background-color: #FFCBD8;
}

.catalog-link {
  padding: 5px 0;
}

.button-active.navigation-link-catalog svg {
  transform: rotate(180deg) translateY(-14%);
}

/*Container*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

  /*Slider*/
.slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 69px;
}

.slider-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
}

.slider-item {
  display: flex;
  position: relative;
  max-width: 830px;
}

.slider-item-next .slider-container {
  display: none;
}

.slider-container {
  padding: 30px;
}

.slider-image-wrap {
  margin-left: 32px;
}

.slider-image-wrap::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  top: 19%;
  left: 63%;
  background-color: #FFCBD8;
  border-radius: 50%;
  z-index: -1;
}

.slider-item-next .slider-image-wrap {
  width: 100px;
  height: 150px;
  opacity: 40%;
  margin-left: 63px;
}

.slider-item-next:last-of-type .slider-image-wrap {
  margin-left: 40px;
}

.slider-item-next .slider-image-wrap::before {
  width: 100px;
  height: 100px;
  top: 17%;
  left: 60px;
}

.slider-item-next:last-of-type .slider-image-wrap::before {
  left: 40px;
}

.slider-item-next .slider-image {
  width: 100px;
  height: 150px;
}

.slider-header {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-top: 86px;
  margin-bottom: 25px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.slider-order {
  margin-top: 48px;
}

.slider-button {
  width: 38px;
  height: 38px;
  fill: #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border: solid 2px #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.slider-button:hover {
  background-color: #FCFCFC;
  fill: #2D3440;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: rgba(252, 252, 252, 0.5);
  fill: #2D3440;
}

.slider-button:focus {
  border: #2D3440;
  fill: #2D3440;
}

.slider-button:disabled {
  opacity: 40%;
}

.slider-prev {
  transform: rotate(90deg);
}

.slider-next {
  transform: rotate(-90deg);
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  fill: #FCFCFC;
  background-color: #FCFCFC;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  border: 1px solid #FCFCFC;
}

.slider-pagination-button:active {
  opacity: 0.5;
}

.slider-pagination-button:focus {
  border: 1px solid #2D3440;
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-control {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  top: 45%;
  left: 543px;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.social-media-link {
  display: block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  background-position: center;
}

.social-media-tg {
  background-image: url("../images/icons/telegram.svg");
}

.social-media-yt {
  background-image: url("../images/icons/youtube.svg");
}

.social-media-vk {
  background-image: url("../images/icons/vk.svg");
}

.social-media-link:hover {
  background-color: #2D3440;
}

.social-media-link:active {
  background-color: #2D3440;
  opacity: 50%;
}

.social-media-link:focus {
  background-color: #2D3440;
  outline-color: #2D3440;
}

/*Section*/
.section-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 53px;
}

/*Banners*/
.banners {
  margin-bottom: 69px;
}

.banners-container {
  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex;
  background-color: #FF7799;
  width: 570px;
  border-radius: 16px;
  padding: 36px;
  padding-right: 0;
  box-sizing: border-box;
}

.banner:first-child {
  background-image: url("../images/promo-berries.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.banner:last-child {
  background-image: url("../images/promo-marshmellow.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.banner-text {
  width: 328px;
}

.banner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.button-gift {
  margin-top: 28px;
}

.banner-description {
  margin: 0;
}

/*Product*/
.taste {
  padding-top: 13px;
  margin-bottom: 82px;
}

.taste .section-header {
  margin-bottom: 106px;
}

.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin-bottom: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.product-card-image-link {
  position: absolute;
  top: -51px;
  left: 51px;
}

.product-card-image {
  border-radius: 50%;
  box-shadow: 0 4px 12px -1px #2D3440;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 133px 40px 24px;
  background-color: #FCFCFC;
  border-radius: 8px
}

.product-card-title-link {
  text-decoration: none;
  color: #2D3440;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.product-card-text {
  color: #565C66;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.product-card-buy-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0;
}

.product-card-cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-buy {
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #FF2F64;
  fill: #FCFCFC;
  border-radius: 50%;
}

.product-card-buy:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
  padding: 6px;
  fill: #2D3440;
}

.product-card-buy:active {
  background: #FFCBD8;
  border: 2px solid #FF2F64;
  padding: 6px;
  fill: #2D3440;
}

.product-card-buy:focus {
  border: 2px solid #2D3440;
  padding: 6px;
  fill: #2D3440;
}

.product-card-buy:focus {
  border: 2px solid #2D3440;
  padding: 6px;
  fill: #FCFCFC;
}

.product-card-buy:disabled {
  background-color: #B9B9B9;
  fill: #565C66;
}

/*SEO*/
.seo {
  margin-top: 10px;
  margin-bottom: 83px;
  background: url("../images/waffle.png") no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
}

.seo-container {
  background-color: #FFFFFF;
  width: 1122px;
  border-radius: 16px;
  padding: 56px 40px;
  box-sizing: border-box;
}

.seo-text-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 505px 505px;
  gap: 40px 32px;
}

.seo-text {
  color: #565C66;
  margin: 0;
  padding-left: 64px;
}

.ice-cream-icon {
  background: url("../images/icons/ice-cream.svg") no-repeat left top;
}

.cow-icon {
  background: url("../images/icons/cow.svg") no-repeat left top;
}

.leaf-icon {
  background: url("../images/icons/leaf.svg") no-repeat left top;
}

.thermometr-icon {
  background: url("../images/icons/thermometr.svg") no-repeat left top;
}

/*Wrap*/
.wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
}

/*News*/
.news {
  background: #ffffff url("../images/news.png") no-repeat 10px -95px;
  background-size: 110%;
  line-height: 20px;
  color: #565C66;
  width: 570px;
  border-radius: 16px;
  margin-bottom: 0;
}

.news-container {
  max-width: 350px;
  margin: 32px;
}

.news-text {
  margin: 0;
  margin-bottom: 10px;
}

.news-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
}

/*Subscribe*/
.subscribe {
  background: url("../images/post-card.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 6px;
  margin-bottom: 0;
  margin-left: 10px;
  color: #565C66;
  width: 570px;
}

.subscribe-container {
  background-color: #FFFFFF;
  padding: 26px;
  border-radius: 16px;
}

.subscribe-text {
  margin: 0;
}

.subscribe-form {
  display: flex;
  margin-top: 42px;
}

.subscribe-button {
  margin-left: 18px;
}

/*Field*/
.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field {
  margin: 0;
  padding: 14px 16px;
  font: inherit;
  line-height: 20px;
  background-color: #FFFFFF;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2D3440;
  border: none;
}

.field::placeholder {
  color: #B9B9B9;
}

.field:invalid {
  outline-color: #EA5454;
}

.field:invalid:hover {
  outline: 2px solid #EA5454;
}

.field:hover {
  outline-color: #2D3440;
}

.field:focus {
  outline: 2px solid #2D3440;
}

.field:disabled {
  background-color: #E7E7E7;
}

.field:disabled:hover {
  background-color: #E7E7E7;
  opacity: 65%;
}

.search-field {
  flex-grow: 1;
  font-size: 16px;
  color: #B9B9B9;
  padding: 14px 16px;
}

.email-field {
  flex-grow: 1;
  margin: 0;
}

.enter-form-login,
.enter-form-password {
  margin-bottom: 16px;
  font-size: 16px;
}

/*Delivery*/
.delivery {
  display: flex;
  justify-content: space-between;
  background: #ffffff url("../images/delivery.jpg") no-repeat 0 -140px;
  background-size: 105% auto;
  color: #565C66;
  padding: 64px;
  padding-left: 100px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery-wrap {
  width: 375px;
  margin-top: 103px;
}

.delivery-header {
  color: #2D3440;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-text {
  margin: 0;
}

.delivery-form-container {
  background-color: #FCFCFC;
  width: 500px;
  height: min-content;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 40px;
  padding-bottom: 42px;
}

.delivery-form-description {
  margin: 0;
  margin-bottom: 34px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.form-label {
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  margin-bottom: 8px;
}

.form-label-icon {
  position: relative;
  padding-right: 14px;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

.tooltip {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #2D3440;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #B9B9B9;
}

.tooltip-text {
  background-color: #FCFCFC;
  color: #565C66;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  font-family: "Inter", "Arial", sans-serif;;
  text-transform: none;
  padding: 10px 8px;
  border-radius: 1px;
  border: 1px solid #B9B9B9;
  width: 162px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(8%) translateY(-40%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

/*Feedback*/
.feedback {
  background: url("../images/feedback.jpg") no-repeat 2px;
  background-size: 100% auto;
  color: #565C66;
  padding: 64px;
  border-radius: 16px;
  margin-bottom: 6px;
 }

.feedback-container {
  background-color: #FCFCFC;
  width: 343px;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.feedback-address {
  font-style: normal;
}

.feedback-text {
  margin: 0;
  margin-bottom: 12px;
}

.feedback-text:last-of-type {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.feedback-strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
}

.feedback-strong:nth-of-type(2) {
  margin-bottom: 24px;
}

.feedback-phone {
  color: inherit;
  text-decoration: none;
}

/*Footer*/
.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-media {
  max-width: 116px;
  margin-left: 2px;
  margin-top: 2px;
}

.social-media-item {
  margin-right: 16px;
  margin-bottom: 10px;
}

.social-media-item:nth-child(3n) {
  margin-right: 0;
}

.footer-menu {
  max-width: 370px;
  margin-left: 120px;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-menu-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-menu-item {
  position: relative;
}

.footer-menu-link-vendor {
  font-weight: 700;
}

.footer-menu-link-vendor::before{
  content: "";
  position: absolute;
  left: -21px;
  top: 4px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.footer-copyright {
  max-width: 200px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 48px;
  margin-right: 14px;
}

.footer-copyright-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-link {
  color: #2D3440;
}

/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal-feedback {
  width: 570px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 82px;
  height: 82px;
  background-color: #FCFCFC;
  border: none;
  border-radius: 8px;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.feedback-form .field-group {
  margin: 0;
  margin-bottom: 15px;
}

.feedback-field {
  width: 442px;
}

.feedback-field-message {
  color: #B9B9B9;
}

.feedback-button-wrap {
  display: flex;
  justify-content: flex-end;
}

.feedback-form-button {
  margin-top: 18px;
  margin-bottom: 3px;
}

/*Main Inner*/
.main-inner {
  padding-top: 30px;
}

.main-inner .page-container {
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
  padding-bottom: 40px;
  margin-bottom: 4px;
}

/*Breadcrumbs*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-of-type) {
  padding-right: 28px;
  background: url("../images/icons/chevrons.svg") no-repeat 90% 50%;
}

.breadcrumbs-item:last-of-type {
  text-decoration: underline;
  padding-right: 0;
  background: none;
}


/*Title*/
.inner-header {
  margin-bottom: 0;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding-bottom: 40px;
}

/*Filter*/
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 79px;
}

.catalog-filter-group {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 24px;
  margin-bottom: 17px;
}

.catalog-filter-group:last-of-type {
  margin-right: 0;
}

.filter-field {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  border: none;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-left: 15px;
  margin-top: -1px;
}

.catalog-filter-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-right: 17px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  font-size: 14px;
}

/*Sort*/
.filter-field-select {
  padding: 8px 30px 8px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  appearance: none;
}

/* Range */
.range {
  width: 175px;
  padding: 12px 10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  position: absolute;
  top: -25px;
  left: 55px;
}

.range-input {
  width: 30px;
  padding: 0;
  font: inherit;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 2px;
  background: #FCFCFC;
  border: 6px solid #2D3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2D3440;
  border-color: #FCFCFC;
}

.range-toggle:active {
  background-color: #2D3440;
}

.range-toggle:focus {
  outline: 2px solid #2D3440;
}

.toggle-min {
  top: -7px;
  left: -12px;
}

.toggle-max {
  top: -7px;
  right: -12px;
}

/*Radio*/
.filter-field-radio {
  padding: 8px 24px;
}

/*Checkbox*/
.filter-field-checkbox {
  padding: 10px 24px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
}

.control-input[type="checkbox"] + .control-mark::before {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../images/icons/empty.svg");
  content: "";
}


.control:hover .control-mark {
  fill: #FCFCFC;
}

.control-input:disabled + .control-mark {
  fill-opacity: 0.4;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  display: none;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../images/icons/checked.svg");
  content: "";
}

.control-input[type="checkbox"]:hover + .control-mark::before,
.control-input[type="checkbox"]:focus + .control-mark::before {
  background: url("../images/icons/empty-hover.svg");
}

.control-input[type="checkbox"]:checked:hover + .control-mark::after,
.control-input[type="checkbox"]:checked:focus + .control-mark::after {
  background: url("../images/icons/check-hover.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark::after,
.control-input[type="checkbox"]:disabled:hover + .control-mark::after {
  background: url("../images/icons/checked.svg");
  opacity: 50%;
}

.control-input[type="checkbox"]:disabled + .control-mark::before {
  background: url("../images/icons/empty.svg");
  opacity: 50%;
}

.control-label {
  font-size: 14px;
  line-height: 20px;
}

.control-input[type="radio"] + .control-mark {
  background: url("../images/icons/radio.svg");
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:hover+ .control-mark,
.control-input[type="radio"]:focus+ .control-mark {
  background: url("../images/icons/radio-hover.svg");
}

.control-input[type="radio"]:hover + .control-mark::before {
  background-color: #FCFCFC;
}

.control-input[type="radio"]:disabled + .control-mark,
.control-input[type="radio"]:disabled:hover + .control-mark {
  background: url("../images/icons/radio.svg");
  opacity: 50%;
}


/*Filter button*/
.filter-button {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  outline: solid 2px #FCFCFC;
  padding: 9px 53px;
  margin-left: 18px;
  margin-top: 10px;
  font-size: 14px;
  align-self: center;
}

.filter-button:hover {
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.filter-button:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
}

/*Pagination*/
.pagination-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 41px 0;
}

.show-more {
  grid-column: 2 / 3;
  justify-self: center;
  padding: 12px 33px;
  margin-right: 10px;
}

.pagination {
  grid-column: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.pagination-item {
  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 2px 0;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.pagination-item:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

.pagination-item:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
  border-radius: 50%;
}

.pagination-item:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  border-radius: 50%;
}

.pagination-current {
  background:#FCFCFC;
  border-radius: 50%;
}

.pagination-disabled {
  opacity: 0.3;
}

.pagination-prev {
  background-image: url("../images/icons/arrow.svg");
  transform: rotate(90deg);
  background-position: center 6px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.pagination-next {
  background-image: url("../images/icons/arrow.svg");
  transform: rotate(-90deg);
  background-position: center 7px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
