@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.blue-theme {
  background-color: #69A9FF;
}

.gold-theme {
  background-color: #FCC850;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  background-color: #FCFCFC;
}

.pink-button {
  color: #FCFCFC;
  background: #FF2F64;
}

/*Pages*/
.page-header {
  line-height: 20px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 8px 16px;
  color: #2D3440;
  text-decoration: none;
}

.user-navigation {
  min-width: 16px;
  min-height: 16px;
  font-size: 14px;
}

/*Container*/
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

  /*Slider*/
.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider-container {
  display: flex;
}

.slider-content {
  max-width: 470px;
}

.slider-content-next {
  display: none;
}

.slider-header {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-img {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Section*/
section {
  margin-bottom: 80px;
}

section:last-child {
  margin-bottom: 0;
}

.section-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

/*Banners*/
.banners-container {
  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex;
  background-color: #FF7799;
  width: 570px;
  border-radius: 16px;
}

.banner-text {
  margin: 36px;
  margin-right: 0;
}

.banner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/*Product*/
.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin-bottom: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFCFC;
  margin: 0;
  border-radius: 8px;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  flex-grow: 1;
  padding: 0 40px 24px; /*top l+r bottom*/
}

.product-card-title-link {
  text-decoration: none;
  color: #2D3440;
}

.product-card-image {
  border-radius: 50%;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.product-card-text {
  color: #565C66;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.product-card-buy-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 4px 0;
}

.product-card-cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/*Временная подложка для визуализации*/
.product-card-buy {
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 50%;
}

/*SEO*/
.seo {
  background: url("../images/waffle.png") no-repeat;
  background-size: 100% auto;
  padding: 24px;
}

.seo-container {
  background-color: #FFFFFF;
  width: 1122px;
  border-radius: 16px;
}

.seo p {
  color: #565C66;
}

/*Wrap*/
.wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

/*News*/
.news {
  background: url("../images/news.png") no-repeat;
  line-height: 20px;
  color: #565C66;
  width: 570px;
  border-radius: 16px;
  margin-bottom: 0;
}

.news-container {
  max-width: 350px;
  margin: 32px;
}

.news p {
  margin: 0;
}

.news-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
}

/*Subscribe*/
.subscribe {
  background: url("../images/post-card.png") no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  padding: 6px;
  margin-bottom: 0;
  color: #565C66;
  width: 570px;
}

.subscribe-container {
  background-color: #FFFFFF;
  padding: 26px;
  border-radius: 16px;
}

.subscribe-container p {
  margin: 0;
}

.subscribe-form {
  margin-top: 42px;
}

/*Delivery*/
.delivery {
  display: flex;
  justify-content: space-between;
  background: url("../images/delivery.jpg") no-repeat;
  background-size: 100% auto;
  color: #565C66;
  padding: 64px;
  padding-left: 100px;
  border-radius: 16px;
}

.delivery-wrap {
  width: 375px;
  margin-top: 103px;
}

.delivery-header {
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-text {
  margin: 0;
}

.delivery-form-container {
  background-color: #FCFCFC;
  width: 500px;
  border-radius: 8px;
  padding: 40px;
  padding-bottom: 42px;
}

.delivery-form {
  display: grid;
  outline: 1px dotted #000;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-label {
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  padding-bottom: 8px;
}

.info {
  display: none;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-button {
  grid-column: 1 / -1;
  justify-self: center;
}

/*Feedback*/
.feedback {
  background: url("../images/feedback.jpg") no-repeat;
  background-size: 100% auto;
  color: #565C66;
  padding: 64px;
  border-radius: 16px;
 }

.feedback-form {
  background-color: #FCFCFC;
  width: 343px;
  border-radius: 8px;
  padding: 40px;
}

.feedback-address {
  font-style: normal;
}

.feedback-strong {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

/*Footer*/
.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-media {
  max-width: 105px;
}

.social-media-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

.social-media-item:nth-child(3n) {
  margin-right: 0;
}

.footer-menu {
  max-width: 370px;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-menu-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-menu-item:first-of-type {
  font-weight: 700;
}

.footer-copyright {
  max-width: 200px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 48px;
}

.footer-copyright-logo {
  display: block;
  margin-bottom: 14px;
}

.copyright-link {
  color: #2D3440;
  text-decoration: none;
}

/*Main Inner*/
.main-inner {
  padding-top: 32px;
}

/*Breadcrumbs*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  margin-right: 28px;
}

.breadcrumbs-item:last-of-type {
  text-decoration: underline;
}

/*Title*/
.inner-header {
  margin-bottom: 0;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding-bottom: 40px;
}

/*Filter*/
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter-button {
  background: rgba(252, 252, 252, 0.3);
}

/*Pagination*/
.pagination-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 41px;
  padding-right: 0;
}

.show-more {
  grid-column: 2 / 3;
  justify-self: center;
}

.pagination {
  grid-column: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;

}

.pagination-disabled {
  opacity: 0.3;
}

.pagination-current {
  background:#FCFCFC;
  border-radius: 50px;
}
